/* Mobile Viewport */
@media (max-width: 600px) {
    body {
        padding: 0;
        word-wrap: normal;
        font-size: 1rem;
        h1 {
            font-size: 1rem;
        }
        h2 {
            font-size: 1rem;
            margin: 0;
        }
        h3, p, a {
            font-size: 1rem;
        }
    }
    #navbar {
        display: none;
    }
    .mobile-menu, #navbar-mobile {
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: space-around;
        background-color: #f0ff00;
        top: 0;
        height: 50px;
        align-items: center;
        font-weight: bold;
        z-index: 10;
    }
    .hero-content {
        padding: 2rem;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    .body-container {
        max-width: 90%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        /*justify-content: left;*/
    }
    #content .body-container h1{
        font-size: 1rem;
    }
    h1 {
        font-size: 1rem;
    }
    .hero-content p, p {
        font-size: 1rem;
    }
    #main h2 {
        text-wrap: nowrap;
    }
    h2, .mini-h2 {
        font-size: 1rem;
    }
    ul, ol, li, a {
        font-size: 1rem;
    }
    #main .grid-container-main, .grid-container, .roles  {
        display: flex;
        flex-direction: column;
    }
    .grid-container {
        row-gap: 1rem;
    }
    .grid-container .grid-item a img {
        margin: auto;
        max-width: 15rem;
        height: 15rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px #000000;
        opacity: 0.7;
        object-fit: cover;
    }
    .grid-item a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .grid-text {
        padding: 0;
    }
    .grid-col-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    .grid-col-2 a {
        display: flex;
        margin: auto 0 auto auto;
        border-style: none;
        border-radius: 0;
        border-width: 0;
        padding: 0;
    }
    .skill-icon {
        width: 2rem;
    }
    .roles .roles-button {
        width: 10rem;
        height: 2rem;
        margin: 1rem;
    }
    .project-img-large, .project-img-small {
        margin: auto;
    }
    .footer-nav .left {
        display: none;
    }
}