/* Mobile Viewport */
@media (max-width: 600px) {
    body {
        padding: 0;
        word-wrap: normal;
        font-size: 1rem;
        h1 {
            font-size: 1rem;
        }
        h2 {
            font-size: 1rem;
        }
        h3, p, a {
            font-size: 0.8rem;
        }
    }
    #navbar {
        display: none;
    }
    .mobile-menu, #navbar-mobile {
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: space-around;
        background-color: #f0ff00;
        top: 0;
        height: 50px;
        align-items: center;
        font-weight: bold;
        z-index: 10;
    }
    .hero-content {
        padding: 2rem;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    .body-container {
        max-width: 90%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #content .body-container h1{
        font-size: 1rem;
    }
    h1 {
        font-size: 1rem;
    }
    .hero-content p, p {
        font-size: 1rem;
    }
    #main h2 {
        text-wrap: nowrap;
    }
    h2, .mini-h2 {
        font-size: 1rem;
    }
    ul, ol, li, a {
        font-size: 1rem;
    }
    #main .grid-container-main, .grid-container, .roles  {
        display: flex;
        flex-direction: column;
    }
    .grid-item a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    .grid-text {
        padding: 0;
    }
    .grid-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
    .skill-icon {
        width: 2rem;
    }
    .roles .roles-button {
        width: 10rem;
        height: 2rem;
        margin: 1rem;
    }
    .project-img-large, .project-img-small {
        max-width: 90%;
        margin: 0;
    }
    .footer-nav .left {
        display: none;
    }
}