/* Global Styles */
hr {
    border: 0;
    margin-left: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(146, 162, 189, 1), rgba(146, 162, 189, 0));    
    width: 90%;
}

.glass-line {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, #C802AD, #F9A200);
    backdrop-filter: blur(10px);
    width: 90%;
    margin: 1rem;
}

body {
    font-family: "Arimo", "Open Sans", sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    word-wrap: break-word;
    letter-spacing: 0.04rem;
    /* height: 100vh; */
    /* overflow: auto;  */
}

body h1 {
    font-size: 2rem;
}

body h2 {
    font-size: 1.2rem;
    margin: 1rem 0 0;
}

body h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0 0;
}

body h5 {
    padding: 0;
    margin: 0;
}

body a {
    color: #00505e;
    text-decoration: none;
}

body a:visited {
    color: #00505e;
    text-decoration: none;
}

ul, ol, li, p, a {
    font-size: 0.9rem;
}

/* ------------------------------------------------------------------------------------- */
/* Navigation Bar Styles */
.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f4ff26;
    color: #000000;
}

.navbar a,
.navbar a:visited {
    color: #000000;
    padding: 0 20px;
    text-decoration: none;
}

.navbar .right {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

/* ------------------------------------------------------------------------------------- */
/* Homepage Section - Hero Content */
#hero-intro {
    position: relative;
    width: 100%;
    height: 85vh;
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Place video below content */
    z-index: -1;
    opacity: 0.30;
    animation: smooth-transition 2s;
}

#pauseButton {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 2rem;
    padding: 0.5rem;
    min-width: 5%;
    /* Place button higher than the other elements */
    z-index: 3;
    border-width: 0px;
    border-radius: 0.5rem;
    font-family: inherit;
    box-shadow: 0 0 5px #000000;
}

.hero-content {
    position: relative;
    /* Place content above video */
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.hero-content h1 {
    color: #ffffff;
    font-size: 4em;
    filter: drop-shadow(0.1rem 0.3rem 0.2rem #000000);
}

.hero-content p {
    line-height: 1.5em;
    text-align: center;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

#navbar-mobile {
    display: none;
}

/* ------------------------------------------------------------------------------------- */
/* Homepage Section - Content */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    /* margin: 2rem; */
}

#main h2 {
    margin: 1rem;
}

#main .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-container .grid-container-main {
    display: grid;
    width: 60%;
    justify-content: center;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-main .grid-item a {
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
    padding: 1rem;
    align-items: center;
    text-align: center;
    /* grid-gap: 1rem; */
}

.grid-container-main .grid-item a img {
    margin-bottom: 1rem;
    max-width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #000000;
    opacity: 0.7;
    object-fit: cover;
    transform: none;
    transition: transform 100ms linear;
}

.grid-container-main .grid-item a:hover img {
    transform: scale(1.05);
}

/* ------------------------------------------------------------------------------------- */
/* Work Page Section */

.grid-container .grid-item a img {
    margin-bottom: 1rem;
    max-width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #000000;
    opacity: 0.7;
    object-fit: cover;
    transform: none;
    transition: transform 100ms linear;
}

.grid-container .grid-item a:hover img {
    transform: scale(1.05);
}

.grid-item img {
    max-width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #000000;
    opacity: 0.7;
    object-fit: cover;
}

.grid-item text {
    text-decoration: none;
}

.grid-item a {
    text-decoration: none;
    display: flex;
    margin: 1rem;
    padding: 1rem;
    grid-gap: 1rem;
}

.mini-h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

/* ------------------------------------------------------------------------------------- */
/* Page Content Section */

.body-container {
    max-width: 60%;
    /* height: 100vh; */
    min-height: 100vh;
    /* margin: 4rem 15rem; */
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
}

.grid-col-2 {
    display: grid;
    min-width: 50%;
    grid-template-columns: 1fr 1fr;
    padding-right: 10%;
}

.grid-col-2 a {
    display: flex;
    margin: auto 0 auto auto;
    border-style: dashed;
    border-radius: 1rem;
    border-width: 1px;
    border-color: #006020;
    padding: 0.5rem 1rem;
}

.roles {
    display: flex;
    justify-content: space-between;

}

.roles-text {
    display: flex;
    flex-direction: column;
}

.body-container .roles-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    background-color: #F0FF00;
    color: #000000;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    margin: 3rem;
}

.roles-button:hover {
    box-shadow: 0 0 10px #000000;
}

.body-container .roles-button a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.body-container .roles-button a:visited {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.grid-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.grid-text {
    padding: 0 20px;
}

.project-img-large img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.project-img-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0; */
    margin: 0;
}

.project-img-small img {
    max-width: 80%;
}

.project-img-v-small, .project-img-tiny {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0; */
    margin: 0;
}

.project-img-v-small img {
    max-width: 50%;
}

.project-img-tiny img {
    max-width: 30%;
}

.figure {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.caption {
    bottom: 0;
    width: 80%;
    text-align: center;
    color: #000000;
    padding: 1rem;
    margin: 0;
    font-size: 0.9rem;
}

.caption a {
    font-size: 0.9rem;
}

.biblio p, .biblio a {
    font-size: 0.75rem;
}

/* ------------------------------------------------------------------------------------- */
/* Resume Styles */
.resume-skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

.skill-icon {
    padding: 1rem;
    width: 100%;
}

.skill-icon-wrapper {
    position: relative;
}

.skill-icon-wrapper .overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 70%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------- */
/* Free Time Styles */

.grid-container-freetime {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.grid-container-freetime a, .grid-container-freetime p, .grid-container-freetime li {
    font-size: 0.9rem;
}

.freetime-grid-item a {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
}

.freetime-grid-item img {
    max-width: 15rem;
    border-radius: 1rem;
    opacity: 0.7;
    object-fit: contain;
}

/* ------------------------------------------------------------------------------------- */
/* Image Carousel Styles */
#image-carousel {
    width: 90%;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ------------------------------------------------------------------------------------- */
/* Footer Styles */
#footer .footer-nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #F0FF00;
    color: #000000;
}

#footer .footer-right {
    display: flex;
    justify-content: space-between;
    margin-right: 1.25rem;
}

#footer a {
    color: #000000;
    text-decoration: none;
    padding: 0 1.25rem;
}

#footer img {
    height: 2rem;
}

#footer .icon-small {
    height: 1rem;
}
